.infotooltip__icon_type_error {
  margin: 0 auto 32px;
  padding: 0;
  width: 120px;
  height: 120px;
  display: block;
  background-image: url('./../../../images/error-icon.svg');
  background-color: #ffffff;
}